.title_menu_wrapper {
    position: absolute;
    top: 25px;
    left: 14px;
    height: 36px;
    width: auto;
    background: #2c3e50;
    z-index: 1000;
    opacity: 1;
    border-radius: 20px;  
    display: flex;
    .item {
        position: relative;
        width: 100%;
        height: 36px;
        justify-content: center;
        line-height: 36px;
        .logo {
            position: absolute;
            top: 10px;
            left: 12px;
            width: 22px;
        }
        img {
            cursor: pointer;
        }
    }
    .title {
        text-align: left;
        font-size: 18px;
        color: #ffffff;
        padding-left: 20px;
        font-weight: 550;
        padding-right: 10px;
    }
}